*{
  padding: 0;
  margin: 0;
}

.navbar .navbar-nav .nav-item a:hover{
  color: #4d4dff;
  
}

#aboutus{
   font-family: 'Dancing Script', cursive ;
   
}

.services{
  font-family: 'Rampart One', cursive;
}

#mysection{
  margin-top: 50px;
  width: 100%;
  height: 200px;
  background-image: url(./images/full\ widht.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: relative;
  background-repeat: no-repeat;
 
}

/* BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --yellow: #fffbbc;
  --lightbox: #242424;
}

body {
  margin: 24px 0 48px;
  font: 20px / 28px "Marck Script", cursive;
}

.notification {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px 15px;
  margin: 0;
  text-align: center;
  z-index: 1;
  background: var(--yellow);
}

@media (max-width: 700px) {
  .notification {
    display: none;
  }
}


/* IMAGE GRID STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image-grid figure {
  margin-bottom: 0;
}

.image-grid img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
}

.image-grid a:hover img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}


/* LIGHTBOX STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.lightbox-modal .modal-content {
  background: var(--lightbox);
}

.lightbox-modal .btn-close {
  position: absolute;
  top: 20px;
  right: 18px;
  font-size: 1.2rem;
  z-index: 10;
}

.lightbox-modal .modal-body {
  display: flex;
  align-items: center;
  padding: 0;
  text-align: center;
}

.lightbox-modal img {
  width: auto;
  max-height: 100vh;
  max-width: 100%;
}

.lightbox-modal .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(36, 36, 36, 0.75);
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  width: auto;
}

.lightbox-modal .carousel-control-prev {
  left: 10px;
}

.lightbox-modal .carousel-control-next {
  right: 10px;
}


.tcb-quote-carousel {
  background: #17171c;
  padding-top: 30px;
  margin-top: 40px;
  .quote {
    color: rgba(0, 0, 0, .1);
    text-align: center;
    margin-bottom: 30px;
  }
  .carousel {
    padding-bottom: 30px;
    .carousel-indicators > li {
      background-color: #141e2e;
      border: none;
    }
  }
  blockquote {
    margin-top: 5px;
    text-align: center;
    border: none;
    color: grey;
    font-size: 10px;
  }
  .profile-circle {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 100px;
  }
}

.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }
    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}